{{#each result}}

<div>
  <h1>{{title}}</h1>
  <h2>{{short_description}}</h2>
  <p class="date">{{dates}}</p>
  <img src="{{arr_img}}" alt=""
    style="display: flex; flex-direction: column; justify-content:flex-start; max-width:20%; width:250px">
  <span id="" class="event_full_desc">{{{long_description}}}</span>

  <div class="tags">
    {{#each tags}}
    <p class="sub_tag">{{this}}</p>
    {{/each}}
  </div>

  <div class="social_media_links">
    <a href="facebook.com">Facebook</a>
    <a href="facebook.com">Facebook</a>
    <a href="facebook.com">Facebook</a>
  </div>
</div>

<form action="/form/events/edit/{{_id}}" method="POST" id="{{_id}}"
  style="display: none; flex-direction: column; justify-content:flex-start; max-width:100%; width:500px">
  <input type="text" name="eventName" value={{eventName}}>
  <input type="text" name="shortEventDesc" value={{shortEventDesc}}>
  <textarea id="mainTextArea" type="" name="longEventDesc" id="" cols="15" rows="15"
    value="{{longEventDesc}}"></textarea>
  <input autocomplete='off' type="text" name="tag" value={{tags}}>

  <button>Edit</button>
</form>
<form action="/form/delete/{{this.id}}" method="POST">
  <button>Delete</button>
</form>

{{/each}}

<script>
  const editShow = () => {
    let id = event.target.id.substr(5, event.target.id.length);
    console.log('-->', event.target.id, id)
    let form = document.getElementById(id);
    form.style.display = "flex";
  }
</script>
