<div id="mainDiv">
  <h3> Куда Сходить в <p>Москве</p>
  </h3>
  <div class="wrapper">
    {{#each posts1}}
    <div class="box relative {{this.stylebox}}" id={{this._id}}>
      <img class="imgIndex" src="{{this.main_img}}" alt="">
      <div class="shadow"></div>
      <div class="absolut"> {{this.title}} </div>
    </div>
    {{/each}}
  </div>


  <div class="wrapperSecond">
{{#each posts2}}
<div>
    <div class="img-preview"><img class="imgIndex" src="{{this.main_img}}" alt=""></div>
    <div class="box box11">
      <h4>{{this.title}}</h4><hr>
      <div class="txt">
      {{this.short_description}}

      </div>
    </div>


</div>

{{/each}}
  </div>

</div>
